<section
  class="min-h-screen pt-48 relative bg-gradient-to-b from-transparent to-black/50"
>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 relative">
    <a
      href="#"
      class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-white bg-blue-200/40 rounded-full dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200/80 transition-colors duration-300 dark:hover:bg-blue-800/20"
    >
      <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 me-3"
        >New</span
      >
      <span class="text-sm font-medium"
        >Multi Theft Auto San Andreas 1.6 NOW!</span
      >
      <svg
        class="w-2.5 h-2.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
    </a>
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      Fun, Free and Easy to Play
    </h1>
    <p
      class="mb-4 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 lg:px-48"
    >
      What more could you want? Multi Theft Auto provides the best online Grand
      Theft Auto experience there is. Read on to find out more.
    </p>
    <span class="text-white text-lg"
      ><span class="text-green-300">7,248</span> persons who are disfruting on <span
        class="text-green-300">511</span
      >
      public servers</span
    >
  </div>

  <div
    class="absolute left-1/2 bottom-10 transform -translate-x-1/2 flex flex-col items-center"
  >
    <span class="text-white mb-2 text-base font-medium">Scroll down</span>
    <svg
      class="w-8 h-8 text-white animate-bounce"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"
      ></path>
    </svg>
  </div>
</section>
